html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background: url(../images/backgrounds/jungle3_comp.png) no-repeat fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    color: #262626;
    background-color: rgba(185,224,238,0.6);
    font-size: 1.2em;
}

h1 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
}

.info-panel {
    /* width: 100%; */
    font-size: 1em;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.pear {
    height: 1em;
}

main {
    width: 95%;
    max-width: 100vh;
    margin: 0 auto;
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    background-color: rgba(0,60,40,0.6);
    border-radius: 2%;
}

.card {
    width: 20%;
    /* border: 1px solid black; */
    margin: 2.5%;
    border-radius: 5px;
    perspective: 500px;
    transform-style: preserve-3d;
    transition: transform 0.4s;
    position: relative;
}

.face {
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-front {
    background: rgb(153, 226, 44);
    transform: rotateY( 180deg );
}

.card-front img {
    display: block;
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
}

.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(255, 255, 107); */
    background: url(../images/backgrounds/back4.png) no-repeat;
    background-size: cover;
}

.card.flipped {
    transform: rotateY( 180deg );
  }


/* MEDIA QUERIES */

/* dekstop */
